body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: white;
    min-height: 100%;
    height: 100%;
}

#title h1 {
    color: white;
    text-decoration-line: none;
    font-weight: 100;
    float: left;
}

h2 {
    font-weight: 400;
}

.navigation_bar_top {
    background-color: rgb(33, 97, 140);
    padding: 20px;
    box-shadow: 0 10px 20px rgb(33, 97, 140);;
    top: 0;
}

.navigation_items {
    list-style-type: none;
    display: inline-block;
    color: white;
    padding: -4px;
    text-align: right;
    float: right;

}

.navigation_items li {
    float: left;
    padding: 10px;
}

.navigation_items li button {
    color: white;
    text-decoration-line: none;
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
    padding: 1em 2em;
    transition: transform 0.2s, box-shadow 0.2s;
}

.navigation_items li button:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5em 0.5em -0.4em white;
    cursor: pointer;
}

.navigation_items li a:hover {
    color: white;
}

#search_bar {
    color: white;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.text_bar {
    border-radius: 10px;
    border: none;
    text-align: center;
    border: 1px white;
    width: calc(97%/2);
    margin-bottom: 5px;
    display: inline-block;
}

.hero {
    text-align: center;
    padding: 0 20px;
    margin: 10px;
    float: left;
    background-color: midnightblue;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid black;
}

.hero img {
    border-radius: 10px;
    border: 2px solid black;
}

Main {
    width: 100%;
    padding-bottom: 100px;
    overflow: scroll;
    overflow: hidden;

}

.tile   {
    width: calc(100%/3);
    margin: 0;
    display: block;
    padding: 20px;
    float: left;
    box-sizing: border-box;

}

.content {
    background-color: rgba(33, 97, 140, 1);
    padding: 20px;
    float: left;
    color: white;
    border-radius: 30px;
    width: 100%;
    height: 600px;
    box-sizing: border-box;
}

#output_interest_rate {
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}


#item_list {
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

#superhero-output {
    height: 450px;
    overflow: scroll;
    overflow-x: hidden;


}

#superheroAmount {
    width: auto;
    margin: 0 10px 0 0;
    padding: 0;
    float: left;
}

#superhero-output ul {
    list-style: none;
    padding-left: 0;
}

.warning p {
    color: red;
}

.navigation_bar_bottom {
    padding: 20px;
    background-color: rgb(33, 97, 140);
    position: -webkit-sticky;
    bottom: 0;
    color: white;
    box-shadow: 0 -10px 20px rgb(33, 97, 140);;
    margin: 0;
}

#map {
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

#circle {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 20px;
}

#circle:hover {
    border-radius: 50%;
    transition: 1s;
    transform: rotate(-360deg) scale(2, 2) translate(2em, 2em);

}


